<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/index.css">
    <script src="../javascripts/request.js"></script>
    <title>ILCC播放器</title>
</head>

<body>
    <div id="ilcc" class="container">
        <input class="list-switch" type="checkbox" :checked="listShowed">
        <div class="list-pannel">
            <div class="list-title">
                <div class="list-title-text">
                    <span>播放列表（{{ getListCount }}）</span>
                </div>
                <div class="list-title-btns">
                    <div class="list-title-btn-container" @mouseup="removeMusicList()">
                        <div class="list-delete-btn"></div>
                        <span>清空</span>
                    </div>
                </div>
            </div>
            <ul class="music-list">
                <li class="music-list-item" v-for="music,index in musicList" @dblclick="setMusic(index)">
                    <div class="select-song" :class="{'song-selected':index==musicIndex}"></div>
                    <div class="song-list-msgs">
                        <div class="name"><span>{{ music.name }}</span></div>
                        <div class="singer"><span>{{ music.singer }}</span></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="player-pannel">
            <div class="album" @mouseup="showDetail()" :style="'background-image:'+picUrl">
            </div>
            <div class="song-msg">
                <div class="song-name">
                    <span>{{ curmusic.name }}</span>
                </div>
                <div class="song-singer">
                    <span>{{ curmusic.singer }}</span>
                </div>
                <div class="song-time">
                    <span class="current-time">{{ timeFormat(curmusic.currentTime) }}</span>
                    <span class="duration-time">/{{ timeFormat(curmusic.duration) }}</span>
                </div>
            </div>
            <div class="song-ctrls">
                <div class="ctrl-btns">
                    <div class="play-btns">
                        <div class="last-btn" @mouseup="lastMusic()"></div>
                        <div :class="changePlayPic" @mouseup="playMusic()"></div>
                        <div class="next-btn" @mouseup="nextMusic()"></div>
                    </div>
                    <div class="ctrl-right-btns">
                        <div :class="changeLoopOptionPic" @mouseup="changeLoopOption()"></div>
                        <div class="sound-pannel">
                            <div :class="changeSoundPic" @mouseup="mutMusic()"></div>
                            <div class="sound-bar-container">
                                <div id="sound-out" class="sound-bar-out">
                                    <div class="sound-bar-in" :style="'width:'+changeSoundBar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ctrl-bar-container">
                    <div id="bar-out" class="ctrl-bar-out">
                        <div class="ctrl-bar-in" :style="'width:'+changeBar"></div>
                    </div>
                </div>
            </div>
            <div class="list-btn-container">
                <div :class="changeLoved" @mouseup="loveCurMusic()"></div>
                <div class="list-btn" @mouseup="showList()"></div>
            </div>
        </div>
        <input class="detail-switch" type="checkbox" :checked="detailShowed">
        <div id="mlrc" class="detail-pannel">
            <div class="detail-pannel-back" :style="'background-image:'+picUrl"></div>
            <div id="mlrc" class="detail-pannel-lrc">
                <ul style="list-style: none;text-align: center; transition: .2s; -webkit-transition: .2s" :style="'margin-top:'+(lrcindex>10?-30*(lrcindex-10)+'px':'0px')">
                    <li class="lrc" :class="{'lrc-active':index==lrcindex}" v-for="lrc,index in curlrc">{{ lrc.lrc }}</li>
                </ul>
            </div>
        </div>
        <div class="main-pannel">
            <div class="main-left-pannel">
                <div class="left-bar" v-for="bar,index in bars" @mouseup="selectMainBar(index);getLoveList()">
                    <div class="left-bar-selected" :class="{'left-bar-selected-active':index==barindex}"></div>
                    <div class="left-bar-descri-container" :class="{'left-bar-all-selected':index==barindex}">
                        <div class="left-bar-pic" :class="changeMainBarPic(index)"></div>
                        <div class="left-bar-text" :class="{'left-bar-text-selected':index==barindex}">{{ bar }}</div>
                    </div>
                </div>
                <div class="user-pannel">
                    <div class="user-head-pic"></div>
                    <div class="user-desc-container">
                        <div class="user-name">{{ username }}</div>
                        <div class="user-log-out"></div>
                    </div>
                </div>
            </div>
            <div class="main-right-pannel">
                <div class="main-search-pannel" v-if="barindex==0">
                    <div class="main-search-container">
                        <input class="main-search-input" v-model="searchName" type="text" placeholder="搜索音乐" @keyup.enter="searchSong()">
                    </div>
                    <div class="main-search-popular"></div>
                    <div class="song-list">
                        <!-- <div class="song-list-btns">
                            <div class="song-list-btn-container">
                                <div class="play-all-btn"></div>
                                <span>播放全部</span>
                            </div>
                        </div> -->
                        <div class="song-list-songs">
                            <!-- <div class="a-song-descri">
                                <div class="a-song-descri-name">
                                    sdafasdfasdf
                                </div>
                                <div class="a-song-descri-singer">
                                    asdfsadfsdf
                                </div>
                                <div class="a-song-descri-btns">
                                    sdfsdaf
                                </div>
                            </div> -->
                            <div class="a-song-descri" v-for="song,index in searchList">
                                <div class="a-song-descri-name">
                                    {{ song.name }}
                                </div>
                                <div class="a-song-descri-singer">
                                    {{ song.singer }}
                                </div>
                                <div class="a-song-descri-btns">
                                    <div class="play-btn" style="width:40px;height:40px;" @mouseup="playSearchMusic(index)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-love-pannel" v-if="barindex==2">
                    <div class="song-list">
                        <div class="song-list-btns">
                            <div class="song-list-btn-container">
                                <div class="play-all-btn"></div>
                                <span>播放全部</span>
                            </div>
                        </div>
                        <div class="song-list-songs">
                            <div class="a-song-descri" v-for="love,index in loveList">
                                <div class="a-song-descri-name">
                                    {{ love.name }}
                                </div>
                                <div class="a-song-descri-singer">
                                    {{ love.singer }}
                                </div>
                                <div class="a-song-descri-btns">
                                    <div class="play-btn" style="width:40px;height:40px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../javascripts/vue.js"></script>
    <script src="../javascripts/index.js"></script>
</body>

</html>