<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>index</title>
    <link rel="stylesheet" href="/stylesheets/index.css"  />
</head>
<body>
    <input type="text" name="search-text" id="searchtext">
    <input type="button" value="搜索" id="search">

    <div class="music-list">
        <input type="button" id="getmusiclist" value="获取音乐列表">
        <table>
            <td>
                <tr id="musicname">
                </tr>
            </td>
        </table>
    </div>
    <audio controls="controls" id="play"></audio>
    <script type="text/javascript" src="/javascripts/index.js"></script>
</body>
<script>
    var text=document.getElementById('searchtext');
    var search=document.getElementById('search');
    search.onclick=function(){
        var xhr=new XMLHttpRequest();
        xhr.onreadystatechange=function(){
            if(this.readyState==4&&this.status==200){
                var res = this.responseText;
                console.log(res);
            }
        }
        xhr.open('GET','/index/search?'+text.value);
        xhr.send(null);
    }
</script>
</html>