<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>register</title>
    <link rel="stylesheet" href="/stylesheets/styles.css"  /> 
    <link rel="stylesheet" href="/stylesheets/styler.css"  />
</head>
<body>
    <form action="/users/addUser" method="POST">
        <div  class="logbox">
                <div class="boxb side">
                    <div class="imgboxl"></div>
                </div>
                <div class="boxb mid">
                    <div class="midtitlex">Create a Account</div>
                    <div class="midinputx">
                        <input class="inputboxx" type="text" name="username" placeholder="用户名"/>
                    </div>
                    <div id="nameInfo"></div>
                    <div class="midinputx">
                        <input class="inputboxx" type="password" name="pwd" placeholder="密码" maxlength="20" id="pwd1" onblur="checkpassword()"/>
                    </div>
                    <div id="level"></div>
                    <div class="midinputx">
                        <input class="inputboxx" type="password" name="pwdagain" placeholder="确认密码" maxlength="20" id="pwd2" onkeyup="vaildate()"/> 
                    </div>
                    <div id="point"></div>
                    <div class="midinputx">
                        <input class="inputboxx" type="email" name="email" placeholder="邮箱" id="email"  onblur="Mailbox()"/>
                    </div>
                    <div id="emailconfirm"></div>
                    <div class="midinputx yzm">
                        <input class="inputboxx yzmm" type="text" name="emailtext" placeholder="请输入验证码"/>					
                    </div>
                    <div class="sendyzm">
                        <input class="sendbtn" type="button" id="send-email" value="获取验证码" id="btn"/>					
                    </div>				
                    <input class="regt" type="submit" value="Regist" id="register"/>
                </div>
                <div class="boxb side">
                    <div class="imgboxr"></div>
                </div>
                
                <div class="bottom">
                    <div class="botc bak"><a href="/">Back</a></div>
                    <div class="botc signlog"><a href="/">Sign in</a></div>
                </div>			
            </div>
    </form>
    <script type="text/javascript" src="/javascripts/Register.js"></script>
</body>
</html>